.container{
    font-family: "DynaPuff", system-ui;
    height: 590px;
    width: 310px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ffffe3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: solid;
    border-color: #a08501;
    box-shadow: 4px 3px 10px #303030;
    font-size: large;
}

.fotoTutorial{
   width: 325px;
   padding-top: 10px;
   padding-bottom: 20px;
   display: flex;
   justify-self: center;
}
/*botao de jogar*/

.botaoStart{
    display: block;
    justify-self: center;
    height: 60px;
    width: 300px;
    font-weight: bold ;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(230, 207, 124);
    cursor: pointer;
    box-shadow: inset;
    box-shadow: 2px 2px 5px #948233;
}

.botaoStart:hover{
    display: block;
    height: 60px;
    width: 300px;
    font-weight: bold ;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(214, 181, 61);
    cursor: pointer;
    box-shadow: inset;

}
